{% extends 'adminpage.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    {% block titleheading %}Sales{% endblock titleheading %}
    
    {% block css %}
        body{
            background-image: url('/media/images/admin-bg.jpg');
            background-size: cover; /* This will make the image cover the entire background */
            background-repeat: no-repeat; /* Prevents the image from repeating */
            opacity: 1;
            z-index:0;
        }
          
        
        h1 {
            margin-bottom: 20px;
        }


       .form-container {
        max-width: 1000px;
        margin: 50px auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.9); 
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .form-group label {
        flex: 0 0 200px;
        margin-bottom: 0;
        font-weight: bold;
        color: #555555;
    }

    .form-container label {
        font-weight: bold;
    }

    .form-container select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }


    .form-container input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .form-container input:focus{
        outline: none;
        border-color: #8B4513;
        box-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
    }

    .form-container button {
        background-color: #232f3e;
        color: #fff;
        border: none;
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }


    .form-container button:hover {
            
        background-color: #8B4513;
        transform: translateY(-2px);
        color: white;
        box-shadow: inset 5px 7px 3px rgba(62, 39, 35, 0.3);
    
    }

    .alert-danger {
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        color: #721c24;
    }
    .alert-success {
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        color: #155724;
    }
    
    #uploadproductheading {
        margin-top:10px;
        font-family: 'Lobster', cursive;
        text-align:center;
    }

    .header{
        margin:0px;
    }

    .form-group img{
        width:200px;
        height:200px;
    }

    #form1{
        
        background:#f8f9fa;
    }

    #discount , #discounted{
        width:100px; 
    }

    #discounted{
        margin-left:50px;
    }

    table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    }

    table, th, td {
        border: 1px solid #ccc;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    
    {% endblock css%}
   
</head>

    {% block heading %}
    <h1 id='uploadproductheading'>Welcome to Sales Dashboard </h1>
    {% endblock heading %}

    
    {% block main_content %}
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ error_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="True">&times;</span></button>
            </div>
        {% endif %}

        {% if message %}
            <div class="alert alert-success alert-dismissible" role="alert">
                {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="True">&times;</span></button>
            </div>
        {% endif %}




    <div class="form-container" id='form1'>
        <form id='product_search' method="GET">

            <div class="form-group">
               <label for="code" style="text-align: center;">Enter Product Code</label>
                <input type="text" class="form-control" id="code" name="code">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>


    
    <div class="form-container" id='form2'>
        <form id='sale_product' method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">Code:</label>
                <input type="text" class="form-control" id="code" name="code" value="{{product.product_code}}" readonly>
            </div>
    
            <div class="form-group">
                <label for="name">Product Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{product.product_name}}" readonly>
            </div>

             <div class="form-group">
                <label for="product_image">Product Image</label>
                <img src="/media/{{product.product_image}}" alt="Product Image" id="product_image">  
             </div>     
            <div class="form-group">
                <label for="type">Product Type</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ product.product_type }}" readonly>
            </div>

            <div class="form-group">
                <label for="type">Product Category</label>
                <input type="text" class="form-control" id="name" name="name" value="{{product.product_category}}" readonly>  
            </div>
    
            <div class="form-group">
                <label for="customer_name">Customer Name</label>
                <input type="text" class="form-control" id="customer_name" name="customer_name">
            </div>


            <div class="form-group">
                <label for="phone_number">Customer Phone No. </label>
                <input type="text" class="form-control" id="phone_number" name="phone_number">
            </div>

            <div class="form-group">
                <label for="email">Customer Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>


            <div class="form-group">
                <label for="customer_address">Customer/Delivery Address </label>
                <textarea type="text" class="form-control" id="customer_address" name="customer_address" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="qty_sqft">Sqft Value in godown</label>
                <input type="text" class="form-control" id="available" name="available" value="{{qty_in_godown}}" readonly>
            </div>

            <div class="form-group">
                <label for="qty_sqft">Sq foot</label>
                <input type="text" class="form-control" id="qty_sqft" name="qty_sqft">
            </div>

            <div class="form-group">
                <label for="sale_price">Selling Price</label>
                <input type="text" class="form-control" id="sale_price" name="sale_price" value="{{product.selling_price_sqft}}">
            </div>

            <div class="form-group">
                <label for="discount">Discount</label>
                <input type="text" class="form-control" id="discount" name="discount" placeholder="%">
                <input type="text" class="form-control" id="discounted" name="discounted" readonly>
            </div>

            <div class="form-group">
                <label for="total_price">Total Price</label>
                <input type="text" class="form-control" id="total_price" name="total_price" readonly>
            </div>

            <div class="form-group">
                <label for="total_price">Discounted Total Price</label>
                <input type="text" class="form-control" id="final_price" name="final_price" readonly>
            </div>
            
            <input type="hidden" id="button-pressed" name="button_pressed" value="">
            <button type="button" class="btn btn-primary"  onclick="showConfirmationPopupAdd('add_button')">Add</button>
            {% comment %} <button type="button" class="btn btn-primary"  onclick="showConfirmationPopup('sale')">Sale</button> {% endcomment %}
        </form>

         {% if add_items %}
        <table>
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Gross Amount</th>
                    <th>Net Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in add_items%}
                <tr>
                    <td>{{ item.product_code }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.discount }} %</td>
                    <td>{{ item.total_amount }} </td>
                    <td>{{ item.final_price }}</td>
                    <td>
                        <form method="post" action="{% url 'admin_sales_page' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_code" value="{{ item.product_code }}">
                            <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3>No Product Added</h3>
        {% endif %}


        <form id="sale_form" method="POST" action="{% url 'admin_sales_page' %}">
            {% csrf_token %}
            <input type="hidden" id="button_pressed" name="button_pressed" value="selled">
            <button type="button" class="btn btn-primary" onclick="showConfirmationPopup('selled')">Sale</button>
        </form>
       
    </div>
    


        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const qtySqftInput = document.getElementById('qty_sqft');
            const salePriceInput = document.getElementById('sale_price');
            const totalPriceInput = document.getElementById('total_price');
            const totalInventoryInput = document.getElementById('available');
            const discountInput = document.getElementById('discount');
            const discountedVal = document.getElementById('discounted');
            const setFinalPrice = document.getElementById('final_price');

            const initialInventory_backend = {{qty_in_godown}};

            qtySqftInput.addEventListener('input', calculateTotal);
            salePriceInput.addEventListener('input', calculateTotal);
            totalInventoryInput.addEventListener('input', calculateTotal);
            discountInput.addEventListener('input', calculateTotal);



            function calculateTotal() {
                const qtySqft = parseFloat(qtySqftInput.value) || 0;
                const salePrice = parseFloat(salePriceInput.value) || 0;
                const totalInventory = parseFloat(totalInventoryInput.value) || 0;
                const initialInventory = parseFloat(totalInventoryInput.value) || 0;
                const calDiscount = parseFloat(discountInput.value) || 0;

                
                const totalPrice = qtySqft * salePrice;
                const calDiscounted =  (totalPrice/100) * calDiscount

                const finalPrice = totalPrice-calDiscounted
                const remainingInventory = initialInventory_backend - qtySqft

                discountedVal.value = calDiscounted.toFixed(2);
                setFinalPrice.value = finalPrice.toFixed(2);
                totalPriceInput.value = totalPrice.toFixed(2);  // Adjust decimal places as needed
                totalInventoryInput.value = remainingInventory.toFixed(2)

    
                if (remainingInventory < 0) {
                    totalInventoryInput.style.backgroundColor = 'red';
                } else {
                    totalInventoryInput.style.backgroundColor = '';
                }


                // Reset the value and style if qtySqftInput is empty
            
            }

            function calculate_total_inventory(){

                const totalInventory = parseFloat(totalInventoryInput.value) || 0;
                 let initialInventory;
                if (totalInventoryInput.value === '' || totalInventory === 0) {
                // Use the initial inventory value from the backend
                    initialInventory = initialInventory_backend;
                } else {
                    // Otherwise, use the current value from totalInventoryInput
                    initialInventory = initialInventory_backend;
                }


                    // Calculate the remaining inventory
                const remainingInventory = initialInventory - qtySqft;
                totalInventoryInput.value = remainingInventory.toFixed(2);

                }
            
        });

         </script>
    

        <script>
            function showConfirmationPopup(buttonName1) {
                Swal.fire({
                title: 'Confirm Sale',
                text: 'Are you sure you want to proceed with this sale?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, proceed!'
                }).then((result) => {
                if (result.isConfirmed) {
                    // Submit the form when the user confirms
                    document.getElementById('button-pressed').value = buttonName1;
                    document.getElementById('sale_form').submit();
                }
                });
                }

            function showConfirmationPopupAdd(buttonName) {
            Swal.fire({
            title: 'Add Product',
            text: 'Are you sure you want to Add this product?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, proceed!'
            }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form when the user confirms
                document.getElementById('button-pressed').value = buttonName;
                document.getElementById('sale_product').submit();
                console.log('Product Addedd !!!!!!!')
                
                
            }
                });
                }
   
            </script>


    
    {% endblock main_content %}

</html>
